<div data-role="page">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<%= form_for @flashcard do |f| %>
			<%= f.label :english %>
			<%= f.text_field :english %>
			<%= f.label :pinyin %>			
			<%= f.text_field :pinyin %>
			<%= f.label :character %>
			<%= f.text_field :character %>
			<%= f.label :category %>
			<%= f.text_field :category %>
			<%= f.submit %>
		<% end %>
	</div>
	<div data-role="footer">
		<%= link_to "Back", root_path, :data => {:ajax => "false"} %>
	</div>
</div>

